<% layout("/layouts/boilerPlate") %>
<div class="row">
    <h1 class="col-6 offset-3 ">Signup</h1>
    <div class="col-6 offset-3">
    <form action="/signup" method="post" class="needs-validation" novalidate>
        <label for="username" class="form-label mt-5">Username</label>
        <input type="text" name="username"  class="form-control mb-5" required />
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password"  class="form-control mb-5" required />
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email"  class="form-control mb-5" required />
        <button class="btn btn-outline-success">Signup</button>
    </form>
    </div>
</div>